@model PaginatedList<Games>

@{
    ViewData["Title"] = "Games";
}

<div class="container mt-4">
    <div class="row">
        @foreach (var game in Model.Items)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@game.Thumbnail" class="card-img-top" alt="@game.Title">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text">@game.ShortDescription</p>
                        <p><strong>Genero:</strong> @game.Genre</p>
                        <p><strong>Plataforma:</strong> @game.Platform</p>
                        <p><strong>Fecha de lanzamiento:</strong> @game.ReleaseDate</p>
                    </div>
                    <div class="card-footer">
                        <a href="@game.GameUrl" class="btn btn-primary" target="_blank">Jugar Ahora</a>
                        <a asp-controller="Post" asp-action="Create" asp-route-id="@game.Id"
                            class="ml-2 btn btn-dark">
                            Crear Articulo
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }

        <!-- Mostrar la primera página -->
        @if (Model.PageIndex > 2)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=1">1</a>
            </li>
            @if (Model.PageIndex > 3)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }
        }

        <!-- Mostrar las páginas cercanas a la página actual -->
        @for (int i = Math.Max(1, Model.PageIndex - 1); i <= Math.Min(Model.TotalPages, Model.PageIndex + 1); i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i">@i</a>
            </li>
        }

        <!-- Mostrar la última página -->
        @if (Model.PageIndex < Model.TotalPages - 1)
        {
            @if (Model.PageIndex < Model.TotalPages - 2)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@Model.TotalPages">@Model.TotalPages</a>
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>

</div>
